In [8]:
data = {
    "age": [25, None,28, None, 39],
    "score":[6,2,6,None,25],
    "weight":[4,None,None,5,9]
}
import pandas as pd
import numpy as np

df = pd.DataFrame(data)
df= df.fillna(0)
df

    age  score  weight
0  25.0    6.0     4.0
1   0.0    2.0     0.0
2  28.0    6.0     0.0
3   0.0    0.0     5.0
4  39.0   25.0     9.0